/node_modules
/public/hot
/public/documents
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
composer.phar
error_log
php.ini
public/.user.ini
public/php.ini
storage/public/
public/.htaccess
